*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-container{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    width: 350px;
    
}
.header{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;

}
.display{
    margin-bottom: 5px;
    position: relative;

}
#pass-input{
    width: 75%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}
.copy{
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: blue;
    color: white;
    border: none;
    font-size: larger;
    width: 20%;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}
.setting{
    display: flex;
    justify-content: space-between;
    padding: 0 15px  7.5px 15px;
    font-size: large;
    font-weight: bold;

}
#genrate{
    display: block;
    width: 100%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}